  body{background-color:#545454;}
  
  .header {
            background-color: #FFD523; /* Solid background color */
            color: #d2cf72; /* White text color */
            padding: 20px; /* Add some padding */
            text-align: left;
            position: fixed;
             /* Center the content */}
 
        
        /* Style our logo and name */
        .logo {
            display: inline-block;
            margin-right: 25px;
        }
        .name {
            font-size: 80px;
            font-weight: bold;
            color: #FFD523;
        }
        /* Style our flex boxes */
        .flex-container {
            display: flex;
            justify-content: space-around;
            margin: 0px;
            background-color: #2C2E43;
            gap: 20px;
         }
        .flex-box {
            background-color: #E0B0FF; 
            padding: 50px;
            border: 5px solid #ccc; 
            border-radius: 30px;             width: 45%;
            min-height: 200px;max-height: 250px;
            justify-content: center;
            padding: 20px 40px;
            text-align: center;
            font-size: 150%;
        }
        .flex-box h2 {
            margin: top 10px;;
            font-size: 200%;
            justify-content: center;
            text-align: center; 
        }
        /* Style our footer */
        footer {
            background-color: #333; 
            color:#000000; 
            padding: 5px; 
            text-align: center; 
            clear: both; 
        }
        /* Style our social media buttons */
        .social-media {
            margin: 40px;
            
        }
        .social-media a {
            margin: 10px;
            font-size: 24px;
            color: #fff;
        }
        .social-media a:hover {
            color: #ccc;
        }


.button {
    font-size: 40px;
    
    /* Set the background color and text color */
    background-color: #5B7C99; /* Green */
    color: #000000; /* White */
    
    /* Add some border radius to make the button rounded */
    border-radius: 20px;
    
    /* Add some box shadow to give the button some depth */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    /* Make the button cursor a pointing hand */
    cursor:pointer;
    
    /* Add some transition effect to make the button more interactive */
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .button:hover {
    /* Change the background color on hover */
    background-color: #3e8e41; /* Darker green */
    
    /* Add some more box shadow on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .button:active {
    /* Change the background color on active */
    background-color: #2e6c31; /* Even darker green */
    
    /* Add some more box shadow on active */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  }

 